{"http_interactions":[{"request":{"method":"get","uri":"https://api.instagram.com/v1/users/self/feed?access_token=31027128.5972080.7567f7f4e1e9491db50dbd3a4ce79c28","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"X-Ratelimit-Remaining":["4999"], "Content-Language":["en"], "X-Ratelimit-Limit":["5000"], "Content-Type":["application/json; charset=utf-8"]},"body":{"encoding":"ASCII-8BIT","string":"{\"pagination\":{\"next_url\":\"https:\\/\\/api.instagram.com\\/v1\\/users\\/self\\/feed?access_token=31027128.5972080.7567f7f4e1e9491db50dbd3a4ce79c28\\u0026max_id=1106046583006385949_787132\",\"next_max_id\":\"1106046583006385949_787132\"},\"meta\":{\"code\":200},\"data\":[{\"attribution\":null,\"tags\":[\"grahampepper\"],\"type\":\"image\",\"location\":null,\"comments\":{\"count\":0,\"data\":[]},\"filter\":\"Clarendon\",\"created_time\":\"1446078335\",\"link\":\"https:\\/\\/instagram.com\\/p\\/9ZrxmmEFNk\\/\",\"likes\":{\"count\":5,\"data\":[{\"username\":\"jjrich2\",\"profile_picture\":\"https:\\/\\/igcdn-photos-b-a.akamaihd.net\\/hphotos-ak-xfa1\\/t51.2885-19\\/s150x150\\/11849912_1678708762362409_205667488_a.jpg\",\"id\":\"12397217\",\"full_name\":\"Jason Richards\"},{\"username\":\"cdpepper23\",\"profile_picture\":\"https:\\/\\/scontent.cdninstagram.com\\/hphotos-xaf1\\/t51.2885-19\\/11351694_1679615835583152_658986338_a.jpg\",\"id\":\"5414603\",\"full_name\":\"Crystal Pepper\\u270c\\ufe0f\"},{\"username\":\"vnowlin331\",\"profile_picture\":\"https:\\/\\/igcdn-photos-g-a.akamaihd.net\\/hphotos-ak-xaf1\\/t51.2885-19\\/11820696_879427918807358_1980051900_a.jpg\",\"id\":\"291569851\",\"full_name\":\"vanessa nowlin\"},{\"username\":\"kharadon\",\"profile_picture\":\"https:\\/\\/scontent.cdninstagram.com\\/hphotos-xaf1\\/t51.2885-19\\/11906215_1599527010312135_1302959227_a.jpg\",\"id\":\"45380271\",\"full_name\":\"kharadon\"}]},\"images\":{\"low_resolution\":{\"url\":\"https:\\/\\/scontent.cdninstagram.com\\/hphotos-xaf1\\/t51.2885-15\\/s320x320\\/e35\\/12120348_1648601285415241_1857338550_n.jpg\",\"width\":320,\"height\":320},\"thumbnail\":{\"url\":\"https:\\/\\/scontent.cdninstagram.com\\/hphotos-xaf1\\/t51.2885-15\\/s150x150\\/e35\\/12120348_1648601285415241_1857338550_n.jpg\",\"width\":150,\"height\":150},\"standard_resolution\":{\"url\":\"https:\\/\\/scontent.cdninstagram.com\\/hphotos-xaf1\\/t51.2885-15\\/s640x640\\/sh0.08\\/e35\\/12120348_1648601285415241_1857338550_n.jpg\",\"width\":640,\"height\":640}},\"users_in_photo\":[],\"caption\":{\"created_time\":\"1446078335\",\"text\":\"Mum mums! #grahampepper @cdpepper23\",\"from\":{\"username\":\"jakepeppers\",\"profile_picture\":\"https:\\/\\/scontent.cdninstagram.com\\/hphotos-xfa1\\/t51.2885-19\\/11325770_113910175623115_1375227907_a.jpg\",\"id\":\"206421043\",\"full_name\":\"Jake Pepper\"},\"id\":\"1106107711278305641\"},\"user_has_liked\":false,\"id\":\"1106107708191298404_206421043\",\"user\":{\"username\":\"jakepeppers\",\"profile_picture\":\"https:\\/\\/scontent.cdninstagram.com\\/hphotos-xfa1\\/t51.2885-19\\/11325770_113910175623115_1375227907_a.jpg\",\"id\":\"206421043\",\"full_name\":\"Jake Pepper\"}},{\"attribution\":null,\"videos\":{\"low_bandwidth\":{\"url\":\"https:\\/\\/scontent.cdninstagram.com\\/hphotos-xaf1\\/t50.2886-16\\/12134544_1695784390707890_1840066718_s.mp4\",\"width\":480,\"height\":480},\"standard_resolution\":{\"url\":\"https:\\/\\/scontent.cdninstagram.com\\/hphotos-xaf1\\/l\\/t50.2886-16\\/11956905_987231184661372_2021847319_n.mp4\",\"width\":640,\"height\":640},\"low_resolution\":{\"url\":\"https:\\/\\/scontent.cdninstagram.com\\/hphotos-xaf1\\/t50.2886-16\\/12134544_1695784390707890_1840066718_s.mp4\",\"width\":480,\"hei[...]
