{"http_interactions":[{"request":{"method":"get","uri":"https://api.instagram.com/v1/users/search?access_token=31027128.5972080.7567f7f4e1e9491db50dbd3a4ce79c28\u0026q=rosie","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"X-Ratelimit-Remaining":["4992"], "Content-Language":["en"], "X-Ratelimit-Limit":["5000"], "Content-Type":["application/json; charset=utf-8"]},"body":{"encoding":"ASCII-8BIT","string":"{\"meta\":{\"code\":200},\"data\":[{\"username\":\"rosie\",\"profile_picture\":\"https:\\/\\/igcdn-photos-d-a.akamaihd.net\\/hphotos-ak-xaf1\\/t51.2885-19\\/11375832_1708964585993275_933257830_a.jpg\",\"id\":\"3785919\",\"full_name\":\"Rosie ODonnell\"},{\"username\":\"rosieisupposie\",\"profile_picture\":\"https:\\/\\/scontent.cdninstagram.com\\/hphotos-xaf1\\/t51.2885-19\\/11375311_129968644011289_1395263579_a.jpg\",\"id\":\"31027128\",\"full_name\":\"Rosie Kohn\"},{\"username\":\"rosiryder\",\"profile_picture\":\"https:\\/\\/igcdn-photos-g-a.akamaihd.net\\/hphotos-ak-xpa1\\/t51.2885-19\\/10570124_629323177175942_1828028678_a.jpg\",\"id\":\"899892455\",\"full_name\":\"Rosie\"},{\"username\":\"rmborchert\",\"profile_picture[...]
