<body id="feed">
  <%= render 'layouts/navbar' %>
  <!-- <div class="col-lg-6 col-lg-offset-3"> -->
    <% @users[:data].each do |user| %>
      <div class="row">
        <div class="col-lg-2 col-lg-offset-4 search">
          <%= image_tag user[:profile_picture], class: "img-responsive img-circle", id: "profile-large" %>
        </div>
        <div class="col-lg-6 search search-names">
          <%= link_to user[:username], feed_path(user[:id]), id: "nameage-search" %>
          <div id="full-nameage-search"><%= user[:full_name] %></div>
        </div>
      </div>
    <% end %>
  <!-- </div> -->
</body>
