#logo {
  font-family: 'Lobster Two', serif;
  // color: white;
}

#welcome {
  background: url(image-path("instagram.png")) no-repeat center center fixed;
  margin-top: 50px;
  margin-bottom: 50px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#front-page {
  background: rgba(255, 255, 255, .92);
  margin-top: 150px;
  padding-bottom: 30px;
}

#feed {
  padding-top: 70px;
}
