#logo {
  font-family: 'Lobster Two', serif;
  // color: white;
}

#welcome {
  background: url(image-path("instagram.png")) no-repeat center center fixed;
  margin-top: 50px;
  margin-bottom: 50px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#front-page {
  background: rgba(255, 255, 255, .92);
  margin-top: 150px;
  padding-bottom: 30px;
}

#feed {
  padding-top: 100px;
  background-color: #fafafa;
}

#profile-page {
  padding-top: 120px;
  padding-left: 170px;
  padding-right: 170px;
  background-color: #fafafa;
}

.profile-small {
  height: 30px;
  width: 30px;
  margin: -5px 10px -5px 10px;
  display: inline-block;
}

.username-small, .username-small:hover {
  color: #125688;
  text-decoration: none;
  font-size: 15px;
  line-height: 18px;
  font-weight: 600;
  display: inline-block;
  height: 100%;
}

.post-top {
  padding: 10px 10px;
  display: inline-block;
}

.panel-default .panel-heading {
  border-radius: 0px;
  background-color: white;
}

.panel-default .panel-footer {
  border-radius: 0px;
  background-color: white;
}

.panel-default .panel-body {
  border-radius: 0px;
  background-color: white;
}

.panel-body {
  padding: 0px;
}

#heart {
  height: 20px;
  width: 20px;
  margin-top: 10px;
}

#avatar {
  height: 152px;
  margin-bottom: -7px;
  margin-top: -7px;
  width: 152px;
}

.profile-squares {
  margin-bottom: 30px;
}

#nameage {
  font-size: 34px;
  font-weight: 300;
  color: #4b4f54;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 40px;
}

#full-nameage {
  font-size: 30px;
  font-weight: 600;
  line-height: 40px;
}

#nameage-search {
  font-size: 25px;
  font-weight: 300;
  color: #4b4f54;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 40px;
}

#full-nameage-search {
  font-size: 20px;
  font-weight: 600;
  line-height: 40px;
}

.user-info {
  margin-bottom: 50px;
}

.search {
  margin-bottom: 40px;
}

.search-names {
  margin-top: 20px;
}

#search-bar {
  margin-top: 15px;
  margin-left: 15px;
}

.modal-image {
  padding-bottom: 20px;
}

.modal-break {
  padding-bottom: 5px;
}

.likes {
  font-weight: 600;
  font-size: 15px;
  line-height: 23px;
}
